
header {
    background-color: #333;
    color: white;
    padding: 10px;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    display: flex;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: rgb(245, 137, 14);
    font-weight: bold;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  